{%-if include.category-%}
{%-assign posts = site.categories[include.category]-%}  
{%-else-%}
{%-assign posts = site.posts-%}
{%-endif-%}

{%- if posts.size > 0 -%}
{%- for tag in site.tags -%}
{%- capture tag_name -%}{{ tag | first }}{%- endcapture -%}
{%- assign tagged_posts = posts | where_exp:"post","post.tags contains tag_name" -%}
{%- if tagged_posts.size > 0 -%}
<h3 id="{{ tag_name }}">{{ tag_name }}</h3>
<ul>
  {%- for post in tagged_posts -%}
  <li>
    <span>{{- post.date | date: site.theme_config.date_format -}}</span>
    {{ post.tags }}
    <a href="{{ post.url | relative_url }}">{{ post.title | downcase }}</a>
  </li>
  {%- endfor -%}
</ul>
{%- endif -%}
{%- endfor -%}
{%- endif -%}
